# Ignore all files
*

# Ignore all files in subdirectories
#/src/projects/**

# Unignore all with extensions
!*.*

# Unignore all files in subdirectories
/*
!/src/projects/*.asm
!/src/projects/*.c
!/src/projects/*.sh
!/src/projects/*.md
!/src/projects/*.txt
!/src/projects/*/
/*/**

!/src/projects/**/*.asm
!/src/projects/**/*.c
!/src/projects/**/*.sh
!/src/projects/**/*.md
!/src/projects/**/*.txt

# Except source code files
!.gitignore
!*.readme
!*.c
!*.asm
!*.sh
!*.md
!*.txt
