# Exclude ASM Binaries
*
/*
*/*

# Except source code files
!.gitignore
!*.readme
!*.c
!*.asm
!*.sh
!*.md
!*.txt

# Except source codes in subdirectories
!*/*.c
!/*/*.c
!/**/*.c
!**/*.c
!*/*.asm
!/*/*.asm
!/**/*.asm
!**/*.asm
!*/*.sh
!/*/*.sh
!/**/*.sh
!**/*.sh
!*/*.md
!/*/*.md
!/**/*.md
!**/*.md
!*/*.txt
!/*/*.txt
!/**/*.txt
!**/*.txt